.application {
  &__footer {
    height: 130px;
    background-color: $color__surface;
    border-top: 1px solid $color__neutral--light;
  }

  &__footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 16px 0 16px;
    height: 100%;
    width: 60%;
    margin: 0 auto 0 auto;
  }

  &__footer-logo {
    color: $color__on-surface;
  }

  &__footer-links {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 80px;
    padding-top: 23px;
  }

  &__footer-contacts {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 0;
    height: 80px;
    padding-top: 23px;
  }
}
