.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto;

  &__image {
    height: 50%;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 15px;

  }

  &__message{
    text-align: center;
    font-size: 19px;
    line-height: 27px;
  }
}
