.modal {
  @include dimmer();
  display: flex;

  &__window {
    width: 80vw;
    margin: auto;
    background-color: $color__background;
    box-shadow: 0 0 2px 0 $color__neutral;
  }

  &__header {
    position: relative;
    padding: 16px;
    min-height: 20px;
    line-height: normal;
    background-color: $color__primary;
    color: $color__on-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding: 16px;
    overflow: auto;
  }

  &__close-button {
    cursor: pointer;
  }
}
